/src/datos/
/.ipynb_checkpoints/
/.vs/
/__pycache__/
/src/.ipynb_checkpoints/
/src/__pycache__/
/src/prototipos/.ipynb_checkpoints/
/src/prototipos/__pycache__/
/src/app/__pycache__/
/src/app/uploads/