{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} {% else %}ExoplanetIA: Machine Learning para la detección de exoplanetas{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand"><a href="{{ url_for('index') }}">ExoplanetIA</a> - Machine Learning para la detección de exoplanetas</p>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for category, message in get_flashed_messages(with_categories=True) %}
				{% if category != 'message'%}
					<div class="alert alert-{{category}}">Error: {{ message }}</div>
				{% else %}
					<div class="alert alert-info">{{ message }}</div>
				{% endif %}
			{% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}