{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% set active_page = "help" %}


{% block app_content %}
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<h2>Ayuda</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<p>{{ _('La aplicación permite cargar archivo con extensión csv donde cada fila representa el flujo de luz de una estrella. La primera linea del archivo debe ser la cabecera y no será procesada.') }}</p>
		<p>{{ _('El archivo debe contener 3197 columnas con valores reales. También se admiten archivos con el formato del dataset de Kaggle: 3198 columnas, la primera de ellas llamada LABEL y con valores 1 y 2, representando extrellas sin o con exoplanetas.') }}</p>
		<p>{{ _('El usuario debe hacer click en el botón "Seleccionar archivo" y elegir el archivo deseado. Luego, tras pulsar el botón "Cargar", el archivo será procesado y el usuario será redirigido a la página de resultados.') }}</p>
		<p>{{ _('En la página de resultados, el usuario puede comprobar el número de estrellas con exoplanetas detectados, así como el índice de dichas estrellas en el archivo. Esta información también se muestra de forma gráfica.') }}</p>
		<p>{{ _('Finalmente, para cada estrella con exoplaneta, se muestra la gráfica del flujo de luz así como su representación en frecuencia.') }}</p>
	</div>
</div>
{% endblock %}