{% extends "base.html" %}
{% set active_page = "kepler" %}


{% block app_content %}
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<h2>{{ _('El telescopio Kepler')}}</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<p>{{ _('Kepler es un telescopio espacial lanzado por la NASA el 7 de marzo de 2009. Nombrado así en honor al astrónomo alemán Johannes Kepler y colocado en órbita heliocéntrica, el objetivo de la misión era buscar planetas extra solares, especialmente aquellos de un tamaño similar a la Tierra, situados en la zona de habitabilidad de su estrella.') }}</p>
		<p>{{ _('Dotado de un sensible fotómetro y con un campo de visión fijo, Kepler fue apuntando hacia las constelaciones del Cisne, Lira y Dragón para captar de forma simultánea la luz emitida por unas 150.000 estrellas. La duración inicial de la misión estaba prevista en tres años y medio, pero el ruido generado en los datos estaba siendo mayor de lo esperado, lo que hacía necesario un mayor tiempo para completar sus objetivos. El plazo de la misión fue extendido hasta 2016, pero el infortunio hizo que dos de los giroscopios se estropearan, uno a mediados del 2012 y otro en mayo del 2013. Con solo otros dos giroscopios operativos, la misión original tuvo que ser abandona. En su lugar, tras escuchar diferentes alternativas por parte de la comunidad científica, la NASA aprobó la nueva misión de Kepler, denominada K2, Segunda Luz.') }}</p> 
		<p>{{ _('El 30 de octubre del 2018, Kepler agotó totalmente su combustible y fue apagado por la NASA. Durante sus nueve años de servicio, Kepler observó 530.506 estrellas y descubrió 2.662 exoplanetas, aproximadamente un 70%% de todos los que conocemos. Sus datos nos permitieron estimar que, sólo en la Vía Láctea, existen por lo menos otros 17.000 millones de exoplanetas de tamaño similar al nuestro. Muchos de estos datos aún siguen estudiándose; enterrados en esos datos hay otros 2900 planetas aún sin confirmar. Pero la búsqueda no termina aquí: el 18 de abril del mismo año, la NASA lanzaba el telescopio TESS para continuar la detección de nuevos mundos usando, igualmente, el método del tránsito. Y en 2021 está previsto el lanzamiento del telescopio James Webb con la tarea de examinar los hallazgos más prometedores de Kepler y TESS. ¿Cuantos nuevos planetas nos ayudaran a descubrir?') }}</p>
	</div>
</div>
{% endblock %}